<h1>Lokalty Digital Gifts</h1>

<% if current_user %>

<div id= "Local-Microbrew-Lover">
<h2>1. Local Microbrew Lover </h2>
<p><img src="http://aboutfoursquare.com/wp-content/uploads/2011/11/BelgianHolodayBadge.jpeg" align="left""> <big><big><i> For 200 points give a friend $20 to spend at any of our locally owned Philly Micropubs </i></big></big></p>
</div>


     <div id="friends">
	      
<p><%= link_to "Give to FB Friends", "rewards/message"%>  </p>
		
	  <% end %>

  </div>



