
<h1><%= link_to "<-- home", root_path %></h1>

<div><html xmlns:fb="https://infinite-temple-1862.herokuapp.com/">
  <body>
    <script src="http://connect.facebook.net/en_US/all.js"></script>
    <div id="fb-root"></div>
    <script>
      // assume we are already logged in
      FB.init({appId: '260517390734833', xfbml: true, cookie: true});

      FB.ui({
          method: 'send',
          name: 'Local Microbrew Lover - Lokalty Gift',
          link: 'http://en.wikipedia.org/wiki/Tokenization',
description: 'CAN PUT ANYTHING IN HERE FOR DESCRIPTION',
	
          });
     </script>
  </body>
</html>
</div>
