<h1>FILLER PAGE FOR THE MICROBREW BADGE</h1>

<% if current_user %>
	AWESOME THIS BADGE IS NOW YOURS 

<p><img src="http://aboutfoursquare.com/wp-content/uploads/2011/11/BelgianHolodayBadge.jpeg" align="left" height= "500" width= "500"> <big><big><i> For 200 points give a friend $20 to spend at any of our locally owned Philly Micropubs </i></big></big></p>

	<% else %>
	
	<h1>YOU NEED TO BE A REGISTERED USER TO ACCESS THIS BADGE, LOGIN WITH FACEBOOK ABOVE </h1>
	<% end %>

		